.image-container {
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.overlay-text-2 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
